/* Put here any 'pokedex' specific css */

.pokemon-tile {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(var(--type-icon-diameter) * 2);
    width: 100%;
    padding: calc(var(--type-icon-diameter) / 2) var(--horizontal-padding);
    background-color: var(--gray-85);
    margin-bottom: 5px;
}

.pokemon-tile-id-area {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: fit-content;
    flex-wrap: nowrap;
}

.pokemon-tile-sprite-area {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 45%;
}

.pokemon-tile-sprite {
    height: 100%;
}

.pokemon-tile-name-area {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
}

.pokemon-tile-types-area {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    min-width: calc(calc(var(--type-icon-diameter) * 2) + 10px);
}

.pokemon-tile-types-area > div:last-child {
    margin-left: 10px;
}
.pokemon-tile-types-area > div:first-child {
    margin-left: 0;
}